{% extends 'base.html.twig' %}

{% block title %}{{ 'app.navigation.admin'|trans }} - {{ script }} {{ 'app.navigation.logs'|trans }} - {{ 'app.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'app.admin.logs.script_logs'|trans({'%script%': script}) }}</h1>
    {{ component('table', {headers: tableColumns, rows: logs, addPaginationRender: addPaginationRender, exporterPath: exporterPath}) }}
{% endblock %}