{% extends 'base.html.twig' %}

{% block title %}{{"Admin - "~script~" logs"}} {% endblock %}

{% block body %}
    <h1>{{script ~" script logs"}}</h1>
    <table class="table table-striped table-hover table-bordered">
        <tr>
        {% for column in tableColumns %}
            <th>{{ column }}</th>
        {% endfor %}
        </tr>
        {% for log in logs %}  
            <tr> 
                {% for key, column in tableColumns %}
                    <td>
                    {% if column in ['dateImport', 'dateImportFile'] %}
                        {{ attribute(log, column) |date('Y-m-d h:m:s')}}
                    {% elseif column in ['dateData'] %}
                        {{ attribute(log, column) |date('Y-m-d')}}
                    {% else %}
                        {{ attribute(log, column)}}
                    {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}