{% extends 'base.html.twig' %}

{% block title %}{{ 'app.expansion.list_title'|trans }} - {{ originalcard.name }} - {{ 'app.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ originalcard.name }}</h1>    
    {{ component('list_cards', {data: list}) }}
{% endblock %}