{% extends 'base.html.twig' %}

{% block title %}{{"Expansion list - "~originalcard.name}} {% endblock %}

{% block body %}
    <h1>{{originalcard.name}}</h1>

    <div class="list-group">
        {% for card in cards |sort((a, b) => a.expansion.name <=> b.expansion.name)%}
            {% set imgUri = null %}
            {% if card.scryfall.first %}
                {% set imgUri = card.scryfall.first.imgNormalUri %}
            {% endif %}
            {% if not imgUri %}
                {% set imgUri = asset('img/no_card.png') %}
            {% endif %}
            <a class="list-group-item list-group-item-action hover-link" 
            href="{{ path('card.cardlist.detail', {expansionid: card.expansion.id, cardid: card.id })}}" 
            data-img="{{imgUri}}">{{ card.expansion.name }}</a>

        {% endfor %}
    </div>
{% endblock %}