{% extends 'base.html.twig' %}

{% block title %}{{ 'app.search.results_for'|trans }} {{ search }} - {{ 'app.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'app.search.title'|trans }}</h1>
    {% set nb_total = (cardsList|length + expansionsList|length - 4) %}
    <p>{{ nb_total }} {{ 'app.search.found'|trans({}, 'messages', app.request.locale, nb_total) }} 
    {{ 'app.search.results_for'|trans|lower }} "{{ search }}"</p>
    
    <div class="row">
        <div class="col">
            {{ component('list', {data: expansionsList}) }}
        </div>
        <div class="col">
            {{ component('list', {data: cardsList}) }}
        </div>
  </div>
{% endblock %}