<div class="row row-cols-2 row-cols-md-6 g-3">
    {% for card in data %}
        <div class="col" data-collector-number="{{ card.collectorNumber ?? '9999' }}" data-card-name="{{ card.content }}">
            <div class="card img-max-250">
                <a href="{{ path(card.route, card.routeParams) }}" class="stretched-link"></a>
                {% if card.imgHover %}
                    <img src="{{ card.imgHover }}" class="card-img-top img-fluid rounded-10" alt="{{ card.content }}">
                {% endif %}
                <div class="card-body">
                    <p class="card-text text-center">{{ card.content }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>        