{# templates/components/table.html.twig #}

{% if classic_pagination is defined and classic_pagination is not empty %}
    {% set paginationTtemplate = "pagination/compact_pagination.html.twig" %}
{% else %}
    {% set paginationTtemplate = "pagination/compact_invert_pagination.html.twig" %}
{% endif %}

<div class="d-flex justify-content-between align-items-center">
    {% if addPaginationRender %}
        {{ knp_pagination_render(addPaginationRender, paginationTtemplate) }}
    {% endif %}
    
    {% if exporterPath is defined and exporterPath is not empty %}
        <div class="btn-group mb-1">
            <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-download"></i><span class="d-none d-sm-inline"> {{ 'app.table.export'|trans }}</span>
            </button>
            <ul class="dropdown-menu">
                {% set baseExporterParams = exporterParams|default({}) %}
                
                {% if addPaginationRender.totalItemCount > addPaginationRender.itemNumberPerPage %}
                    {% set allParams = baseExporterParams|merge({'mode': 'page', 'page': addPaginationRender.currentPageNumber, 'offset': addPaginationRender.itemNumberPerPage}) %}
                    <li><a class="dropdown-item" href="{{ path(exporterPath, allParams) }}"><i class="bi bi-book-half"></i> {{ 'app.table.this_page'|trans }}</a></li>
                {% endif %} 
                
                {% set allParams = baseExporterParams|merge({'mode': 'all'}) %}
                <li><a class="dropdown-item" href="{{ path(exporterPath, allParams) }}"><i class="bi bi-book-fill"></i> {{ 'app.table.all_pages'|trans }}</a></li>
            </ul>
        </div>

    {% endif %}
</div>
<div class="table-responsive overflow-auto">
    <table class="table table-striped table-hover table-bordered mb-0 text-center align-middle">
        <thead class="align-middle">
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td class="text-nowrap">{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if addPaginationRender %}
    {{ knp_pagination_render(addPaginationRender, paginationTtemplate) }}
{% endif %}