{% extends 'base.html.twig' %}

{% block title %}{{"Cards list - "~expansion.name}} {% endblock %}

{% block body %}
    <h1>{{expansion.name}}</h1>
    
    <div class="d-flex align-items-center gap-3 mb-3">
        <span>Sorting by:</span>
        <div class="btn-group">
            <input type="radio" class="btn-check" name="sort" value="collector_number" id="number" autocomplete="off"
                   onchange="sortCards(this.value)">
            <label class="btn" for="number">Collector Number</label>

            <input type="radio" class="btn-check" name="sort" value="name_asc" id="AZ" autocomplete="off"
                   onchange="sortCards(this.value)">
            <label class="btn" for="AZ">A-Z</label>

            <input type="radio" class="btn-check" name="sort" value="name_desc" id="ZA" autocomplete="off"
                   onchange="sortCards(this.value)">
            <label class="btn" for="ZA">Z-A</label>
        </div>
    </div>
    {{ component('list_cards', {data: cards}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/cardSorting.js') }}"></script>
{% endblock %}