{% extends 'base.html.twig' %}

{% block title %}{{ 'app.card.list_for'|trans }} {{ expansion.name }} - {{ 'app.title'|trans }}{% endblock %}

{% block body %}
    <h1>
        {% if expansionLogo is defined and expansionLogo is not empty %}
            <img src="{{expansionLogo}}" class="card-img-top img-fluid icon expansion-icon" alt="{{expansion.name}}">
        {% endif %}
        {{expansion.name}}
    </h1>
    
    <div class="ranking-filters-modern mb-4">
        <div class="d-flex flex-column flex-md-row gap-3">
            {# Sorting filter #}
            <div class="filter-group">
                <div class="filter-label">{{ 'app.sorting.by'|trans }}</div>
                <div class="filter-options">
                    <input type="radio" class="btn-check" name="sort" value="collector_number" id="number" autocomplete="off"
                           onchange="sortCards(this.value)">
                    <label class="filter-option" for="number">{{ 'app.sorting.collector_number'|trans }}</label>

                    <input type="radio" class="btn-check" name="sort" value="name_asc" id="AZ" autocomplete="off"
                           onchange="sortCards(this.value)">
                    <label class="filter-option" for="AZ">{{ 'app.sorting.name_asc'|trans }}</label>

                    <input type="radio" class="btn-check" name="sort" value="name_desc" id="ZA" autocomplete="off"
                           onchange="sortCards(this.value)">
                    <label class="filter-option" for="ZA">{{ 'app.sorting.name_desc'|trans }}</label>
                </div>
            </div>

            {# Art Series filter #}
            <div class="filter-group ms-md-auto align-self-center">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="hideArtSeries" onchange="toggleArtSeries(this.checked)">
                    <label class="form-check-label" for="hideArtSeries">
                        {{ 'app.filter.hide_art_series'|trans }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    {{ component('list_cards', {data: cards}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/cardSorting.js') }}"></script>
{% endblock %}